.categoryContainer {
	/*background-color: #348CA4;*/
	background-color: rgba(52, 140, 164, 0.7);
}
.cursorPointer:hover {
	cursor: pointer;
}
.text-9jaluck2 {
	color: #008D5A;
}
.straightEdge {
	border-radius: 0px !important;
}
.curvedEdge {
	border-radius: 18px;
}
.cursorPointer:hover {
	cursor: pointer;
}
.publicSearchInput, .privateSearchInput, .specialSearchInput {
	padding-left: 30px;
	color: white;
}
.publicSearchInput:focus, .privateSearchInput:focus, .specialSearchInput:focus {
	padding-left: 30px;
	color: white;
}
.publicSearchInput::placeholder, .privateSearchInput::placeholder, .specialSearchInput::placeholder {
	/*padding-left: 30px;*/
	color: grey;
}
.ml1 {
	margin-left: 1px;
}
.mr1 {
	margin-right: 1px;
}
.mt1 {
	margin-top: 1px;
}
.mb1 {
	margin-bottom: 1px;
}
.m1 {
	margin: 1px;
}
.mx1 {
	margin-left: 1px;
	margin-right: 1px;
}
.my1 {
	margin-top: 1px;
	margin-bottom: 1px;
}
.listOption {
  width: 60px !important;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.10rem;
}
.listOption2 {
  width: 60px !important;
  /* height: 25px; */
  display: flex;
  justify-content: center;
  align-items: center;
  /*margin-right: 1px;*/
}

.listBackground:nth-child(2n) {
	background-color: #3E444A;
	color: #ffffff;
}
.listBackground:nth-child(2n+1) {
	background-color: #343A40;
	color: #ffffff;
}

/*.listBackground {
	background-color: #FFF;
	border-bottom: 1px solid grey;
}*/

@media only screen and (max-width: 360px) {
	.tournamentTitle {
		font-size: 0.7rem;
	}
}