.active-tournament-type-btn, .tournament-type-btn:active {
  background-color: #ed8d0e;
  color: #000000 !important;
  /*background: linear-gradient(#F1D521, #F79F02);*/
}
.active-tournament-type-btn > span, .tournament-type-btn:active > span{
  color: #000000 !important;
  /*background: linear-gradient(#F1D521, #F79F02);*/
}
.categoryContainer {
	/*background-color: #348CA4;*/
	background-color: rgba(52, 140, 164, 0.7);
}
.cursorPointer:hover {
	cursor: pointer;
}
.text-9jaluck2 {
	color: #008D5A;
}
.bg-sv-primary {
  background-color: #067a23; 
}
.bg-sv-secondary {
  background-color: #6D489A; 
}
.bg-sv-warning {
  background-color: #ed8d0e;
}

.text-sv-primary {
  color: #067a23; 
}
.text-sv-secondary {
  color: #6D489A; 
}
.text-sv-warning {
  color: #ed8d0e;
}
.straightEdge {
	border-radius: 0px !important;
}
.cursorPointer:hover {
	cursor: pointer;
}
.curvedEdge {
	border-radius: 18px;
}
.publicSearchInput, .privateSearchInput, .specialSearchInput {
	padding-left: 30px;
	color: white;
}
.publicSearchInput:focus, .privateSearchInput:focus, .specialSearchInput:focus {
	padding-left: 30px;
	color: white;
}
.publicSearchInput::placeholder, .privateSearchInput::placeholder, .specialSearchInput::placeholder {
	/*padding-left: 30px;*/
	color: grey;
}
.listOption {
  width: 60px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.10rem;
}
.listBackground:nth-child(2n) {
	background-color: #3E444A;
}
.listBackground:nth-child(2n+1) {
	background-color: #343A40;
}
@media only screen and (max-width: 360px) {
	.tournamentTitle {
		font-size: 0.7rem;
		color: yellow;
	}
}