
#main {
	
}

.listOption {
  width: 60px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.10rem;
}

/*when screen is on landscape mode on mobile devices. Current screen size is for pixel 2 XL*/
@media screen and (max-width: 823px) and (orientation: landscape) {

}